/*
Полезные ссылки:
1. Уроки по CSS для НАЧИНАЮЩИХ: https://www.youtube.com/playlist?list=PL6NCtzCz-4pQZ-uueXnuIcQMs085CAhty
2. Узнать цвет по скриншоту: https://sanstv.ru/color#ffffff
3. Узнать цвет есть программка instant eyedropper: http://instant-eyedropper.com/
4. Узнать какие браузеры поддерживают CSS свойств: https://caniuse.com/
5. CSS справочник атрибут: https://webref.ru/css
6. Имена цветов: https://www.w3.org/wiki/CSS/Properties/color/keywords
7. Конвертер цвета: https://color2.ru/rgb-hex
7. Конвертер цвета: https://htmlbook.ru/css/border-style
8. Курсор: https://webref.ru/css/cursor
*/


/*
Как строиться css
СЕЛЕКТОР{
СВОЙСТВО:ЗНАЧЕНИЕ;
СВОЙСТВО:ЗНАЧЕНИЕ;
СВОЙСТВО:ЗНАЧЕНИЕ;
}
*/
/*
Псевдоклассы
СЕЛЕКТОР: ПСЕВДОКЛАСС{
СВОЙСТВО:ЗНАЧЕНИЕ;
СВОЙСТВО:ЗНАЧЕНИЕ;
СВОЙСТВО:ЗНАЧЕНИЕ;
}
*/
/*
top-верх,
bottom-низ,
left-левый,
right-правый
*/
html {
    /*height: 100%;*/
}

body {
    /*height: 100%;*/
    /*width: 50%;*/
    /*Занемай все пространство по окну браузера*/
    width: 100vw;
    height: 100vh;
    /*3*/
    /*Единицы измерения vw и vh, которые являются процентами от размеров окна просмотра (viewport). Эти единицы удобны
    для создания адаптивного дизайна, поскольку они изменяются в зависимости от размера окна браузера.

Подробное объяснение:
vw (viewport width): 1 единица vw равна 1% ширины окна просмотра.
vh (viewport height): 1 единица vh равна 1% высоте окна просмотра.
*/

    margin: 0px;
}

.header {
    background-color: #999;
    /*Ширину и высоту можно задать различными единицами измерения:px,% vw,vh*/

    /*1*/
    /*width: 70px;*/
    /*height: 100px;*/

    /*
    !*2*!
    width: 90%;
    !*с шириной все хорошо но будет проблема с высотой*!
    height: 50%;
    !*   проблема происходит из за того что height наследуеться от РОДИТЕЛЯ. В данной ситуации родитель будет body.
    Если задать height:100px в ручную то все сработает если же этого значения нет то будет ширина текста
    или нужно задавать высоту для html высоту 100% и для body высоту  100% то тогда % будут работать  *!
    */
    height: 10%;
}

.aside {
    display: inline-block;

    background-color: #555;
    width: 30%;
    height: 80%;
}

.main {
    display: inline-block;
    background-color: #333;
    width: 70%;
    height: 80%;
}

.footer{
    background-color: #222;
    height: 10%;
}
/*div{*/
/*    background-color: #fde900;*/
/*    display: inline-block;*/
/*    !*inline-Элемент отображается как строчный.*!*/
/*    !*inline-block Это значение генерирует блочный элемент, который обтекается другими элементами веб-страницы подобно*/
/*    строчному элементу. Но у него есть ширина и высота*!*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/















































































































