/*
Полезные ссылки:
1. Уроки по CSS для НАЧИНАЮЩИХ: https://www.youtube.com/playlist?list=PL6NCtzCz-4pQZ-uueXnuIcQMs085CAhty
2. Узнать цвет по скриншоту: https://sanstv.ru/color#ffffff
3. Узнать цвет есть программка instant eyedropper: http://instant-eyedropper.com/
4. Узнать какие браузеры поддерживают CSS свойств: https://caniuse.com/
5. CSS справочник атрибут: https://webref.ru/css
6. Имена цветов: https://www.w3.org/wiki/CSS/Properties/color/keywords
7. Конвертер цвета: https://color2.ru/rgb-hex
7. Конвертер цвета: https://htmlbook.ru/css/border-style
8. Курсор: https://webref.ru/css/cursor
*/


/*
Как строиться css
СЕЛЕКТОР{
СВОЙСТВО:ЗНАЧЕНИЕ;
СВОЙСТВО:ЗНАЧЕНИЕ;
СВОЙСТВО:ЗНАЧЕНИЕ;
}
*/
/*
Псевдоклассы
СЕЛЕКТОР: ПСЕВДОКЛАСС{
СВОЙСТВО:ЗНАЧЕНИЕ;
СВОЙСТВО:ЗНАЧЕНИЕ;
СВОЙСТВО:ЗНАЧЕНИЕ;
}
*/
/*
top-верх,
bottom-низ,
left-левый,
right-правый
*/
html {
    /*height: 100%;*/
}

body {
    /*height: 100%;*/
    /*width: 50%;*/
    /*Занемай все пространство по окну браузера*/
    width: 100vw;
    height: 100vh;
    /*3*/
    /*Единицы измерения vw и vh, которые являются процентами от размеров окна просмотра (viewport). Эти единицы удобны
    для создания адаптивного дизайна, поскольку они изменяются в зависимости от размера окна браузера.

Подробное объяснение:
vw (viewport width): 1 единица vw равна 1% ширины окна просмотра.
vh (viewport height): 1 единица vh равна 1% высоте окна просмотра.
*/

    margin: 0;
    font-size: 32px;
}
.container{
    /*flex-> Сокращённое свойство, которое позволяет указать параметры элемента, чтобы он эффективно заполнял доступное пространство. */
    display: flex;
    /*заполнение основного контейнера потомками  */
    background-color: #999;
    width: 100%;
    height:50%;
    justify-content: center;
    /* Выравнивание по основной оси(горизонтальной)*/
    align-items: center;
    /*align-items: stretch;*/
    /* Выравнивание по второстепенной оси(вертикальной)*/

}

.first{
border: 5px solid red;
    /* margin(отступ вне контейнера)-> Устанавливает величину отступа от каждого края элемента. Отступом является пространство от границы текущего
    элемента до внутренней границы его родительского элемента*/
    /* margin: top right bottom left */
    /*margin: 50px 10px 100px 45px;*/
    /*margin-top: 50px;*/
    /*margin-left: 50px;*/
    /*margin-bottom: 50px;*/

    /*padding(отступ внутри контейнера)->Устанавливает значение полей вокруг содержимого элемента. Полем называется расстояние от внутреннего края
    рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое */
    /*
    padding-top: 50px;
    padding-left: 50px;
     */

}
/*Схлопывание происходит есл указаны 2 свойство как тут у first->margin-bottom: 100px; и у second->margin-top: 100px;
отступ(margin) не будет 200px так как произойдет схлопывание. Если один margin(отступ) будет больше другого то возьмет наибольший margin(отступ)*/
.second{
    border: 5px solid green;
    /*
    margin-top: 100px;
     */


}











































































































